@import url("http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic");
@import url("http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic");
@import url("http://fonts.googleapis.com/css?family=Amatic+SC:400,700");
@import url("http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
/* line 17, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 6, ../components/sass/base.scss */
body {
  font-family: Libre Baskerville, serif;
  font-size: 1rem;
  line-height: 160%;
  background: #5c5c5d url('../images/misc/bkg_concrete-grey.jpg?1390427448');
  color: white;
}

/* line 16, ../components/sass/base.scss */
h1 {
  font-family: Libre Baskerville, serif;
  font-style: italic;
  color: #c4e86b;
  font-size: 5rem;
  line-height: 5rem;
  margin-bottom: .4rem;
  padding-top: 20px;
}

/* line 26, ../components/sass/base.scss */
h2 {
  font-family: Libre Baskerville, serif;
  font-style: italic;
  font-size: 5rem;
  line-height: 100%;
  margin: 20px 0 0 0;
  color: #c4e86b;
  margin-bottom: .6rem;
}

/* line 36, ../components/sass/base.scss */
h3 {
  font-family: Libre Baskerville, serif;
  font-style: italic;
  font-size: 1.4rem;
  line-height: 120%;
  color: #c4e86b;
  padding: 1em 0 4em;
}

/* line 45, ../components/sass/base.scss */
a {
  text-decoration: underline;
  color: white;
}
/* line 48, ../components/sass/base.scss */
a:hover {
  color: #ff4c00 v;
}

/* line 53, ../components/sass/base.scss */
p {
  line-height: 180%;
  margin-bottom: 10px;
  font-weight: 400;
}

/* line 59, ../components/sass/base.scss */
.nav {
  font-family: Amatic SC, sans-serif;
  font-size: 1.4rem;
}

/* line 64, ../components/sass/base.scss */
.introhead {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: 300;
  color: white;
}

/* line 14, ../../../.rvm/gems/ruby-2.0.0-p247/gems/susy-1.0.9/sass/susy/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 17, ../components/sass/layout.scss */
.layout {
  *zoom: 1;
  max-width: 73em;
  _width: 73em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  padding: 0 3%;
}
/* line 38, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.layout:after {
  content: "";
  display: table;
  clear: both;
}
/* line 2, ../components/sass/mixins.scss */
.layout:after {
  content: "";
  display: table;
  clear: both;
}

/* line 27, ../components/sass/layout.scss */
.slide {
  width: 100%;
}

@media (min-width: 45em) {
  /* line 32, ../components/sass/layout.scss */
  .secondary {
    width: 40.84507%;
    float: right;
    margin-right: 0;
    font-size: 1.1rem;
  }
  /* line 36, ../components/sass/layout.scss */
  .secondary h1 {
    font-size: 1.8rem;
    color: #ff4c00 v;
  }
}

/* line 45, ../components/sass/layout.scss */
#fixedtop {
  height: 6em;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

/* line 55, ../components/sass/layout.scss */
header .branding {
  float: left;
  padding: 1em;
}
/* line 61, ../components/sass/layout.scss */
header .navigation {
  float: right;
  padding-top: 2em;
}
@media (min-width: 30em) {
  /* line 64, ../components/sass/layout.scss */
  header .navigation ul.nav {
    margin: 0;
    padding: 0;
    border: 0;
  }
  /* line 2, ../components/sass/mixins.scss */
  header .navigation ul.nav:after {
    content: "";
    display: table;
    clear: both;
  }
  /* line 60, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
  header .navigation ul.nav li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
    white-space: nowrap;
    display: inline;
    float: left;
    padding-left: 4px;
    padding-right: 4px;
  }
  /* line 48, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
  header .navigation ul.nav li:first-child, header .navigation ul.nav li.first {
    padding-left: 0;
  }
  /* line 49, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
  header .navigation ul.nav li:last-child {
    padding-right: 0;
  }
  /* line 50, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
  header .navigation ul.nav li.last {
    padding-right: 0;
  }
}
/* line 69, ../components/sass/layout.scss */
header .navigation ul.nav li a {
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  display: block;
  text-decoration: none;
  padding: 5px 10px;
  color: white;
}
/* line 76, ../components/sass/layout.scss */
header .navigation ul.nav li a:hover {
  color: #c4e86b;
}

/* line 87, ../components/sass/layout.scss */
#how {
  background: url('../images/misc/bkg_concrete.jpg?1390424635');
}

/* line 90, ../components/sass/layout.scss */
#listen {
  background: url('../images/misc/bkg_wood.jpg?1390425911');
}

/* line 96, ../components/sass/layout.scss */
#launch {
  background: url('../images/misc/bkg_concrete-sand.jpg?1390426555');
}

/* line 99, ../components/sass/layout.scss */
#team {
  background: url('../images/misc/bkg_wood.jpg?1390425911');
}

/* line 102, ../components/sass/layout.scss */
#work {
  background: url('../images/misc/bkg_concrete.jpg?1390424635');
}

/* line 105, ../components/sass/layout.scss */
#contact {
  background: url('../images/misc/bkg_concrete-sand.jpg?1390426555');
}

/* line 109, ../components/sass/layout.scss */
.left_main {
  text-align: center;
}
/* line 111, ../components/sass/layout.scss */
.left_main img {
  opacity: 0.2;
  filter: alpha(opacity=40);
  /* For IE8 and earlier */
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
@media (min-width: 45em) {
  /* line 109, ../components/sass/layout.scss */
  .left_main {
    width: 49.29577%;
    float: left;
    margin-right: 1.40845%;
    text-align: left;
  }
  /* line 121, ../components/sass/layout.scss */
  .left_main img {
    opacity: 0.4;
    filter: alpha(opacity=40);
    /* For IE8 and earlier */
    margin: 5em auto 0;
  }
}
@media (min-width: 45em) and (min-width: 60em) {
  /* line 121, ../components/sass/layout.scss */
  .left_main img {
    margin: 3em auto 0;
  }
}
/* line 131, ../components/sass/layout.scss */
.left_main h1 {
  padding-top: 0;
  margin-top: -3em;
}
@media (min-width: 45em) {
  /* line 131, ../components/sass/layout.scss */
  .left_main h1 {
    padding-top: 1.4em;
    margin-top: 0;
  }
}
/* line 139, ../components/sass/layout.scss */
.left_main h2 {
  padding-top: 1.4em;
}
/* line 142, ../components/sass/layout.scss */
.left_main p {
  padding-left: .5em;
}

/* line 147, ../components/sass/layout.scss */
.right_main {
  text-align: center;
}
/* line 149, ../components/sass/layout.scss */
.right_main img {
  opacity: 0.2;
  filter: alpha(opacity=40);
  /* For IE8 and earlier */
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
@media (min-width: 45em) {
  /* line 147, ../components/sass/layout.scss */
  .right_main {
    width: 49.29577%;
    float: right;
    margin-right: 0;
    text-align: left;
  }
  /* line 159, ../components/sass/layout.scss */
  .right_main img {
    opacity: 0.4;
    filter: alpha(opacity=40);
    /* For IE8 and earlier */
    margin: 5em auto 0;
  }
}
@media (min-width: 45em) and (min-width: 60em) {
  /* line 159, ../components/sass/layout.scss */
  .right_main img {
    margin: 3em auto 0;
  }
}
/* line 169, ../components/sass/layout.scss */
.right_main h1 {
  padding-top: 0;
  margin-top: -3em;
}
@media (min-width: 45em) {
  /* line 169, ../components/sass/layout.scss */
  .right_main h1 {
    padding-top: 1.4em;
    margin-top: 0;
  }
}
/* line 177, ../components/sass/layout.scss */
.right_main h2 {
  padding-top: 1.4em;
}
/* line 180, ../components/sass/layout.scss */
.right_main p {
  padding-left: .5em;
}

/* line 185, ../components/sass/layout.scss */
.pull-up {
  padding-top: 0;
  margin-top: -24em;
}
@media (min-width: 45em) {
  /* line 185, ../components/sass/layout.scss */
  .pull-up {
    padding-top: 1.4em;
    margin-top: 0;
  }
}

/* line 194, ../components/sass/layout.scss */
.ad-space {
  padding-top: 4em;
  padding-bottom: 4em;
  overflow: hidden;
}
/* line 2, ../components/sass/mixins.scss */
.ad-space:after {
  content: "";
  display: table;
  clear: both;
}

/* line 201, ../components/sass/layout.scss */
.left-head-wrap {
  padding: 0;
}
@media (min-width: 45em) {
  /* line 201, ../components/sass/layout.scss */
  .left-head-wrap {
    padding-left: 2em;
  }
}

/* line 207, ../components/sass/layout.scss */
.right-head-wrap {
  padding-right: 2em;
}

@media (min-width: 60em) {
  /* line 210, ../components/sass/layout.scss */
  img#lightbulb {
    margin-left: 2em;
  }
}

/* line 219, ../components/sass/layout.scss */
.scroll {
  margin: 0 auto;
  padding: 2em 0 .5em;
  text-align: center;
  font-family: Amatic SC, sans-serif;
  font-size: 1.4rem;
}
/* line 225, ../components/sass/layout.scss */
.scroll p {
  margin-bottom: -5px;
}
/* line 228, ../components/sass/layout.scss */
.scroll a {
  text-decoration: none;
}

/* line 235, ../components/sass/layout.scss */
.triangle-concrete {
  background: url(../images/misc/concrete-tri.png) no-repeat;
  width: 80px;
  height: 40px;
  margin: 0 auto;
}

/* line 241, ../components/sass/layout.scss */
.triangle-dk-concrete {
  background: url(../images/misc/concrete-dk-tri.png) no-repeat;
  width: 80px;
  height: 40px;
  margin: 0 auto;
}

/* line 247, ../components/sass/layout.scss */
.triangle-sand-concrete {
  background: url(../images/misc/concrete-sand-tri.png) no-repeat;
  width: 80px;
  height: 40px;
  margin: 0 auto;
}

/* line 253, ../components/sass/layout.scss */
.triangle-wood {
  background: url(../images/misc/wood-tri.png) no-repeat;
  width: 80px;
  height: 40px;
  margin: 0 auto;
}

/* line 264, ../components/sass/layout.scss */
#services {
  background: url('../images/misc/bkg_concrete.jpg?1390424635');
}

/* line 267, ../components/sass/layout.scss */
.servicesimg {
  position: relative;
  display: block;
  text-align: center;
  padding: 4em 0 1em;
}

/* line 274, ../components/sass/layout.scss */
.services_head {
  text-align: center;
  position: absolute;
  top: 200px;
  left: 0;
  width: 100%;
}

/* line 282, ../components/sass/layout.scss */
.services_list {
  text-align: center;
  padding-bottom: 4em;
}

/* line 287, ../components/sass/layout.scss */
#prototyping {
  margin: 0 auto;
}
@media (min-width: 45em) {
  /* line 287, ../components/sass/layout.scss */
  #prototyping {
    width: 32.39437%;
    float: left;
    margin-right: 1.40845%;
  }
}

/* line 293, ../components/sass/layout.scss */
#webapp {
  margin: 0 auto;
}
@media (min-width: 45em) {
  /* line 293, ../components/sass/layout.scss */
  #webapp {
    width: 32.39437%;
    float: left;
    margin-right: 1.40845%;
  }
}

/* line 299, ../components/sass/layout.scss */
#mobile {
  margin: 0 auto;
}
@media (min-width: 45em) {
  /* line 299, ../components/sass/layout.scss */
  #mobile {
    width: 32.39437%;
    float: right;
    margin-right: 0;
  }
}

/* line 305, ../components/sass/layout.scss */
#ux {
  margin: 0 auto;
}
@media (min-width: 45em) {
  /* line 305, ../components/sass/layout.scss */
  #ux {
    width: 32.39437%;
    float: left;
    margin-right: 1.40845%;
  }
}

/* line 311, ../components/sass/layout.scss */
#eval {
  margin: 0 auto;
}
@media (min-width: 45em) {
  /* line 311, ../components/sass/layout.scss */
  #eval {
    width: 32.39437%;
    float: left;
    margin-right: 1.40845%;
  }
}

/* line 317, ../components/sass/layout.scss */
#cloud {
  margin: 0 auto;
}
@media (min-width: 45em) {
  /* line 317, ../components/sass/layout.scss */
  #cloud {
    width: 32.39437%;
    float: right;
    margin-right: 0;
  }
}

/* line 327, ../components/sass/layout.scss */
#t1 {
  margin: 0 auto;
}
/* line 329, ../components/sass/layout.scss */
#t1 img {
  width: 80%;
}
@media (min-width: 45em) {
  /* line 327, ../components/sass/layout.scss */
  #t1 {
    width: 23.94366%;
    float: left;
    margin-right: 1.40845%;
  }
  /* line 334, ../components/sass/layout.scss */
  #t1 img {
    width: 100%;
  }
}

/* line 339, ../components/sass/layout.scss */
#t2 {
  margin: 0 auto;
}
/* line 341, ../components/sass/layout.scss */
#t2 img {
  width: 80%;
}
@media (min-width: 45em) {
  /* line 339, ../components/sass/layout.scss */
  #t2 {
    width: 23.94366%;
    float: left;
    margin-right: 1.40845%;
  }
  /* line 346, ../components/sass/layout.scss */
  #t2 img {
    width: 100%;
  }
}

/* line 352, ../components/sass/layout.scss */
#t3 {
  margin: 0 auto;
}
/* line 354, ../components/sass/layout.scss */
#t3 img {
  width: 80%;
}
@media (min-width: 45em) {
  /* line 352, ../components/sass/layout.scss */
  #t3 {
    width: 23.94366%;
    float: left;
    margin-right: 1.40845%;
  }
  /* line 359, ../components/sass/layout.scss */
  #t3 img {
    width: 100%;
  }
}

/* line 364, ../components/sass/layout.scss */
#t4 {
  margin: 0 auto;
}
/* line 366, ../components/sass/layout.scss */
#t4 img {
  width: 80%;
}
@media (min-width: 45em) {
  /* line 364, ../components/sass/layout.scss */
  #t4 {
    width: 23.94366%;
    float: right;
    margin-right: 0;
  }
  /* line 371, ../components/sass/layout.scss */
  #t4 img {
    width: 100%;
  }
}

/* line 380, ../components/sass/layout.scss */
.project img {
  max-width: 100%;
}
@media (min-width: 45em) {
  /* line 379, ../components/sass/layout.scss */
  .project {
    width: 49.29577%;
    float: left;
    margin-right: 1.40845%;
  }
}

/* line 388, ../components/sass/layout.scss */
.info h3 {
  padding-bottom: .5em;
}
/* line 391, ../components/sass/layout.scss */
.info p {
  font-size: .8rem;
}
@media (min-width: 45em) {
  /* line 387, ../components/sass/layout.scss */
  .info {
    width: 49.29577%;
    float: right;
    margin-right: 0;
    text-align: left;
    padding-left: 2em;
  }
}

@media (min-width: 45em) {
  /* line 403, ../components/sass/layout.scss */
  .contact-left {
    width: 49.29577%;
    float: left;
    margin-right: 1.40845%;
  }
}

@media (min-width: 45em) {
  /* line 409, ../components/sass/layout.scss */
  .form {
    width: 49.29577%;
    float: right;
    margin-right: 0;
    text-align: left;
    padding-left: 2em;
  }
}

/* line 417, ../components/sass/layout.scss */
#contact .layout {
  padding: 2em 0;
}

/* line 422, ../components/sass/layout.scss */
input[type=text],
input[type=email] {
  width: 100%;
  height: 40px;
  padding: 10px 20px;
  margin: 0 0 20px 0;
  background: rgba(26, 26, 26, 0.5);
  border: 0;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

/* line 431, ../components/sass/layout.scss */
input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

/* line 434, ../components/sass/layout.scss */
input:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(255, 255, 255, 0.5);
}

/* line 437, ../components/sass/layout.scss */
input::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(255, 255, 255, 0.5);
}

/* line 440, ../components/sass/layout.scss */
input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

/* line 444, ../components/sass/layout.scss */
textarea {
  width: 100%;
  height: 180px;
  padding: 10px 20px;
  margin: 0 0 20px 0;
  background: rgba(26, 26, 26, 0.5);
  border: 0;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

/* line 452, ../components/sass/layout.scss */
textarea::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

/* line 455, ../components/sass/layout.scss */
textarea:-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

/* line 459, ../components/sass/layout.scss */
input:focus, textarea:focus {
  background: rgba(26, 26, 26, 0.7);
}

/* line 462, ../components/sass/layout.scss */
#submit {
  width: 30%;
  padding: .5em 0;
  background-color: rgba(255, 70, 0, 0.4);
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  color: #fff;
  font-family: 'Oswald';
  font-size: 20px;
  text-decoration: none;
  cursor: poiner;
  border: none;
}

/* line 476, ../components/sass/layout.scss */
#submit:hover {
  border: none;
  background: rgba(255, 70, 0, 0.7);
}

/* line 483, ../components/sass/layout.scss */
footer {
  color: white;
  background: url('../images/misc/bkg_concrete.jpg?1390424635');
  margin: 0px;
  padding-top: 20px;
  padding-bottom: 100px;
  max-height: 100%;
}

/* line 491, ../components/sass/layout.scss */
.social {
  height: 20px;
  display: table;
  /* Allow the centering to work */
  margin: 0 auto;
}

/* line 496, ../components/sass/layout.scss */
ul.social {
  list-style: none;
}

/* line 499, ../components/sass/layout.scss */
ul.social li {
  width: 29px;
  height: 29px;
  padding: 0;
  margin-right: 2px;
  float: left;
}

/* line 506, ../components/sass/layout.scss */
ul.social li a {
  width: 29px;
  height: 29px;
  display: block;
  background: url(../images/misc/social-icons-sprite.png) no-repeat;
}

/* line 513, ../components/sass/layout.scss */
ul.social li a.twitter {
  background: url(../images/misc/social-icons-sprite.png) no-repeat 0 0;
}

/* line 516, ../components/sass/layout.scss */
ul.social a.twitter:hover {
  background: url(../images/misc/social-icons-sprite.png) no-repeat 0 -29px;
}

/* line 519, ../components/sass/layout.scss */
ul.social a.fb {
  background: url(../images/misc/social-icons-sprite.png) no-repeat -35px 0;
}

/* line 522, ../components/sass/layout.scss */
ul.social a.fb:hover {
  background: url(../images/misc/social-icons-sprite.png) no-repeat -35px -29px;
}

/* line 526, ../components/sass/layout.scss */
ul.social a.lin {
  background: url(../images/misc/social-icons-sprite.png) no-repeat -69px 0px;
}

/* line 529, ../components/sass/layout.scss */
ul.social a.lin:hover {
  background: url(../images/misc/social-icons-sprite.png) no-repeat -69px -29px;
}

/* line 532, ../components/sass/layout.scss */
.footercopy {
  font-size: .6em;
  margin-top: 2em;
  vertical-align: middle;
}
/* line 2, ../components/sass/mixins.scss */
.footercopy:after {
  content: "";
  display: table;
  clear: both;
}
/* line 537, ../components/sass/layout.scss */
.footercopy span, .footercopy a {
  color: gray;
}

/* line 541, ../components/sass/layout.scss */
.terms {
  float: right;
}

/* line 5, ../components/sass/modules.scss */
.socialmediaicons ul {
  text-align: center;
}
/* line 7, ../components/sass/modules.scss */
.socialmediaicons ul li {
  display: inline-block;
  margin-left: 5px;
}
/* line 10, ../components/sass/modules.scss */
.socialmediaicons ul li img {
  width: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
