// Susy setup -------------------------------------------------------
$total-columns 	: 12;
$column-width	: 5em;
$gutter-width 	: 1em;
$grid-padding 	: $gutter-width;

@include border-box-sizing;

$small 			: 30em;
$medium			: 45em;
$large			: 60em;




//layout -----------------------------------------------------------------
.layout {
	@include container;
	//@include susy-grid-background;
	@include clearfix;
	padding: 0 3%; 

	//content ------------------------------------------------------------
	
} //content layout

.slide {
	width: 100%;
}

//secondary ------------------------------------------------------------
.secondary {
	@include at-breakpoint($medium) {
		@include span-columns(5 omega, 12);
		font-size: 1.1rem;
		h1 {
			font-size: 1.8rem;
			color: $orange;
		}
	}
} //secondary


//header ------------------------------------------------------------
#fixedtop {
	//background: $lightgray image-url("misc/bkg_concrete-grey.jpg");
	height: 6em;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}
header {
	.branding {
		float: left;
		padding: 1em;
	} //branding

	//navigation ------------------------------------------------------------
	.navigation {
		float: right;
		padding-top: 2em;
		ul.nav {
			@include at-breakpoint($small) {
				@include horizontal-list;
			}
			li {
				a {
					@include single-transition(all, .25s, ease-out);
					display: block;
					text-decoration: none;
					padding: 5px 10px;
					color: $default;

					&:hover {
					color: $green;
					}
				} //a
			} //li
		} //ul
	} //navigation
} //header

// main content styles ----------------------------------------------

#how {
	background: image-url("misc/bkg_concrete.jpg");
}
#listen {
	background: image-url("misc/bkg_wood.jpg");
}
#build {

}
#launch {
	background: image-url("misc/bkg_concrete-sand.jpg");
}
#team {
	background: image-url("misc/bkg_wood.jpg");
}
#work {
	background: image-url("misc/bkg_concrete.jpg");
}

.left_main {
	text-align: center;
	img {
		opacity:0.2;
		filter:alpha(opacity=40); /* For IE8 and earlier */
		display: block;
		max-width: 100%;
		margin: 0 auto;
	}
	@include at-breakpoint($medium) {
		@include span-columns(6, 12);
		text-align: left;
		img {
			opacity:0.4;
			filter:alpha(opacity=40); /* For IE8 and earlier */
			margin: 5em auto 0;
				@include at-breakpoint($large) {
					margin: 3em auto 0;
				}

		}
	}
	h1 {
		padding-top: 0;
		margin-top: -3em;
		@include at-breakpoint($medium) {
		padding-top: 1.4em;
		margin-top: 0;
		}
	}
	h2 {
		padding-top: 1.4em;
	}
	p {
		padding-left: .5em;
	}

}
.right_main {
	text-align: center;
	img {
		opacity:0.2;
		filter:alpha(opacity=40); /* For IE8 and earlier */
		display: block;
		max-width: 100%;
		margin: 0 auto;
	}
	@include at-breakpoint($medium) {
		@include span-columns(6 omega, 12);
		text-align: left;
		img {
			opacity:0.4;
			filter:alpha(opacity=40); /* For IE8 and earlier */
			margin: 5em auto 0;
				@include at-breakpoint($large) {
					margin: 3em auto 0;
				}

		}
	}
	h1 {
		padding-top: 0;
		margin-top: -3em;
		@include at-breakpoint($medium) {
		padding-top: 1.4em;
		margin-top: 0;
		}
	}
	h2 {
		padding-top: 1.4em;
	}
	p {
		padding-left: .5em;
	}

}
.pull-up {
	padding-top: 0;
		margin-top: -24em;
		@include at-breakpoint($medium) {
		padding-top: 1.4em;
		margin-top: 0;
	}
}	

.ad-space {
	@include clearfix;
	padding-top: 4em;
	padding-bottom: 4em;
	overflow: hidden;
}

.left-head-wrap {
	padding: 0;
	@include at-breakpoint($medium) {
	padding-left: 2em;
	}
}
.right-head-wrap {
	padding-right: 2em;
}
img#lightbulb {
	@include at-breakpoint($large) {
		margin-left: 2em;
	}

;	
	
}

.scroll {
	margin: 0 auto;
	padding: 2em 0 .5em;
	text-align: center;
	font-family: $font-nav;
	font-size: 1.4rem;
	p {
		margin-bottom: -5px;
	}
	a {
		text-decoration: none;
	}
}

// Our services styles ----------------------------------------------

#services {
	background: image-url("misc/bkg_concrete.jpg");
}
.servicesimg {
	position: relative;
	display: block;
	text-align: center;
	padding: 4em 0 1em;	
}

.services_head {
	text-align: center;
	position: absolute;
	top: 200px; 
	left: 0; 
	width: 100%;
}

.services_list {
	text-align: center;
	padding-bottom: 4em;
}

#prototyping {
	margin: 0 auto;
	@include at-breakpoint($medium) {
		@include span-columns (4, 12);
		}
}
#webapp {
	margin: 0 auto;
	@include at-breakpoint($medium) {
		@include span-columns (4, 12);
		}
}
#mobile {
	margin: 0 auto;
	@include at-breakpoint($medium) {
		@include span-columns (4 omega, 12);
		}
}
#ux {
	margin: 0 auto;
	@include at-breakpoint($medium) {
		@include span-columns (4, 12);
		}
}
#eval {
	margin: 0 auto;
	@include at-breakpoint($medium) {
		@include span-columns (4, 12);
		}
}
#cloud {
	margin: 0 auto;
	@include at-breakpoint($medium) {
		@include span-columns (4 omega, 12);
		}
}


// Our services styles ----------------------------------------------

#t1 {
	margin: 0 auto;
	img {
		width: 80%;
	}
	@include at-breakpoint($medium) {
		@include span-columns (3, 12);
			img {
				width: 100%;
			}
		}
}
#t2 {
	margin: 0 auto;
	img {
		width: 80%;
	}
	@include at-breakpoint($medium) {
		@include span-columns (3, 12);
			img {
				width: 100%;
			}
		}
}

#t3 {
	margin: 0 auto;
	img {
		width: 80%;
	}
	@include at-breakpoint($medium) {
		@include span-columns (3, 12);
			img {
				width: 100%;
			}
		}
}
#t4 {
	margin: 0 auto;
	img {
		width: 80%;
	}
	@include at-breakpoint($medium) {
		@include span-columns (3 omega, 12);
			img {
				width: 100%;
			}
		}
}

// Our work styles ----------------------------------------------

.project {
	img {
		max-width: 100%;
	}
	@include at-breakpoint($medium) {
		@include span-columns (6, 12);
		}
}
.info {
	h3 {
		padding-bottom: .5em;
	}
	p {
		font-size: .8rem;
	}
	@include at-breakpoint($medium) {
		@include span-columns (6 omega, 12);
		text-align: left;
		padding-left: 2em;
		}
}

//footer ------------------------------------------------------------
footer {
	color: $default;
	background: $darkgray;
	margin-top: 20px;
	padding-top: 20px;
	padding-bottom: 100px;
	max-height: 100%;
}





