

// social media icons -----------------------------------------------------
.socialmediaicons {
		ul {
		text-align: center;
		li {
			display: inline-block;
			margin-left: 5px;
			img {
				width: 30px;
				@include border-radius(50%);
			} // img
		} //li
	} //ul
} //socialmediaicons



















