$default 		: #FFFFFF;
$green          : #C4E86B;
$lightgray      : #5C5C5D;
$darkgray       : #1A1A1A;
$orange         : #FF4C00;
$cyan           : #259286;

$green-light: lighten($green, 10%);


$font-primary: Libre Baskerville, serif;
$font-secondary: Lato, sans-serif;
$font-nav: Amatic SC, sans-serif;

$default-border-radius: 2px;





// @include background( linear-gradient(top, $darkgray, rgba(1,1,1, 0)));

